$black: #000000;
$blue-base: #004aad;
$blue-background: #344973;
$blue-darkest: #0a346b;
$blue-logo: #008585;
$blue-logo-darkest: #002929;
$blue-clear-background: #b3e7e7;
$box-shadow: #808080;
$gray-box: #e6e6e6;
$gray-line: #dfe9eb;
$gray-darkest: #b8c0c2;
$red-base: #ef4136;
$red-title: #d33333;
$yellow-star: #ffbd59;
$yellow-logo: #f7c143;
$white: #ffffff;
$white-box: #fafafa;
$white-hover: #f7f5f5;

$high-priority: #db2f49;
$medium-priority: #fa6845;
$low-priority: #fca553;

$lexend: 'Lexend', sans-serif;
$laleza: 'Lalezar', system-ui;
