.dashboard {
  height: 80vh;
  overflow: auto;
  background: radial-gradient(
    circle,
    rgba(250, 250, 250, 1) 0%,
    rgba(0, 41, 41, 0.27503501400560226) 100%
  );

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}
