@import '/src/styles/variables.scss';

.header {
  color: $white;
  background-color: $blue-logo-darkest;
  box-shadow: 0 2px 5px $box-shadow;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  flex-direction: row;
  height: 9vh;
  justify-content: space-between;

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
  }

  &__name {
    font-family: $laleza;
    font-size: 1.875rem;
    font-weight: 900;
    margin: 0;

    &:hover {
      color: $white-hover;
      cursor: pointer;
    }
  }

  &__page {
    color: $yellow-logo;
    font-family: $lexend;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding-left: 50px;

    &--align {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &--divider {
      background-color: $yellow-logo;
      height: 9vh;
      margin-left: 40px;
      width: 2px;
    }

    &:hover {
      color: $white-hover;
      cursor: pointer;
    }
  }

  &__logo {
    margin-bottom: 6px;
    width: 40px;
  }

  &__buttons {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-right: 10px;

    .login {
      align-items: center;
      background: none;
      border: none;
      display: flex;
      justify-content: center;

      &__description {
        color: $white;
        font-family: $lexend;
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
        padding-right: 4px;
      }

      &__icon {
        color: $white;
      }

      &__description:hover,
      &__icon:hover {
        color: $white-hover;
        cursor: pointer;
      }
    }
  }
}
