<mat-toolbar class="header">
  <div class="header__items">
    <h1 class="header__name" (click)="navigate('/')">iDiDiT!</h1>
    <img
      class="header__logo"
      src="../../../../assets/img/ididit-logo.png"
      alt="Logo do sistema iDiDiT"
    />
    <span *ngIf="isAuthenticated" class="header__page--align">
      <span class="header__page--divider"></span>
      <h2 class="header__page" (click)="navigate('/dashboard')">TO-DOs</h2>
    </span>
  </div>
  <div class="header__login">
    <mat-icon
      *ngIf="!isAuthenticated"
      class="header__login--icon"
      (click)="navigate('/login')"
    >
      login
    </mat-icon>
    <mat-icon
      *ngIf="isAuthenticated"
      class="header__login--icon"
      (click)="logout()"
    >
      logout
    </mat-icon>
  </div>
</mat-toolbar>
